<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <%= link_to image_tag("maseen-logo.png", class:"furima-icon"), "/" %>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li class="user-nickname"><%= current_user.nickname %> </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
        <% if current_user.id == 1 %>
          <li><%= link_to '新規マシン登録', "/machines/new", class: "new-machine" %> </li>
        <%end%>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規ユーザー登録',new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>