<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="new-items-contents">
  <header class="new-items-header">
    <%= link_to image_tag('maseen-logo.png' , size: '185x50'), "/" %>
  </header>
  <div class="new-items-main">
    <h2 class="newitems-title">マシンの情報を入力</h2>
    <%= form_with model: @machine, url: machine_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# マシン画像 %>
    <% if user_signed_in? && current_user.id == 1 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        マシン画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <% end %>
    <%# /マシン画像 %>

    <%# マシン名とマシン詳細 %>
    <div class="new-items">
    <% if user_signed_in? && current_user.id == 1 %>
      <div class="weight-bold-text">
        マシン名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"マシン名（必須 40文字まで)", maxlength:"40" %>

      <div class="weight-bold-text">
        マシンの空き状況
      </div>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"machine-status"}) %>

      <div class="weight-bold-text">
        利用終了予定時刻
      </div>
      <%= f.text_area :time, class:"items-text", id:"item-name", value: (Time.now + 1200).strftime('%H:%M') %>

      <div class="items-explain">
        <div class="weight-bold-text">
          マシンの説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :detail, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <% end %>

      <div class="weight-bold-text">
        予約者
      </div>
      <%= f.text_area :subscriber, class:"items-text",  placeholder:"氏名を入力（40文字まで)", maxlength:"40" %>
    </div>
    <%# /マシン名とマシン詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, method: :get, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="new-items-footer">
  </footer>
</div>