<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      もうトレーニングで待たなくていい
    </h2>
    <p class='service-explain'>
      MaSeenはジム全てのマシンの空き情報を
    </p>
    <p class='service-explain'>
      リアルタイムでお知らせします
    </p>
  </div>
  <%# /画面上部の帯部分  %>

  <%# MaSeenを使う3つのSTEP部分 %>
  <div class='use-step-contents'>
    <h2 class='title'>
      MaSeenを使う3つのSTEP
    </h2>
    <ul class='step-lists'>
      <li class='list'>
        <%= image_tag "step01.jpg", class:"list-pict" %>
        <span class='step-list-number'>1</span>
        <h3 class='step-list-text'>
          空き情報チェック
        </h3>
        <p class='step-list-description'>
          使いたいマシンの空き情報をチェック＆予約
        </p>
      </li>
      <li class='list'>
        <%= image_tag "step02.jpg", class:"list-pict" %>
        <span class='step-list-number'>2</span>
        <h3 class='step-list-text'>
          時間に合わせてジムへ
        </h3>
        <p class='step-list-description'>
          マシンが空く時間に合わせてジムへGO！！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "step03.jpg", class:"list-pict" %>
        <span class='step-list-number'>3</span>
        <h3 class='step-list-text'>
          筋トレスタート！
        </h3>
        <p class='step-list-description'>
          待ち時間ゼロで筋トレ！
        </p>
      </li>
    </ul>
  </div>
  <%# MaSeenを使う3つのSTEP部分 %>

  <%# マシン一覧 %>
  <div class='item-contents'>
    <h2 class='title'>設置マシン一覧</h2>
    <ul class='item-lists'>

    <% @machines.each do |machine|%>
      <li class='list'>
        <%= link_to machine_path(machine.id), method: :get do %>
        <div class='item-img-content'>
          <%= image_tag machine.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= machine.name %>
          </h3>
        </div>
        <% end %>
      <% if user_signed_in? && current_user.id == 1 %>
        <div class="status-change">
          <%= link_to '情報の編集', edit_machine_path(machine.id), method: :get, class: "status-change-btn"%>
        </div>
      <% end %>
        <div class="machine-use-status">
          利用状況
        </div>
        <div class='status-btn'>
          <% if machine.status_id == 1 %>
            <span class='status-blue-text'>空</span>
          <% else %>
            <span class='status-red-text'>満</span>
          <% end %>
        </div>
        
        <% if machine.status_id == 2 %>  
          <div class='time-info'>
            <h3 class='time-text'>
             終了予定時刻　<%= machine.time %>
            </h3>
            <% unless machine.subscriber.blank? %> 
              <h3 class='time-text'>
              次回予約者　<%= machine.subscriber %>
              </h3>
            <% else %>
              <h3 class='time-text'>
              次回予約者無し
              </h3>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </div>
  <%# /マシン一覧 %>
</div>

<%= render "shared/footer" %>