<div class="new-items-contents">
  <header class="new-items-header">
    <%= link_to image_tag('maseen-logo.png' , size: '185x50'), "/" %>

  </header>
  <div class="new-items-main">
    <h2 class="new-items-title">新規マシン情報入力</h2>

    <%= form_with model: @machine, url: machines_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# マシン画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        マシン画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /マシン画像 %>

    <%# マシン名とマシン詳細 %>
    <div class="new-items">
      <div class="weight-bold-text">
        マシン名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      
      <div class="weight-bold-text">
        マシンの空き状況
      </div>
      <%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"select-box", id:"machine-status"}) %>

      <div class="items-explain">
        <div class="weight-bold-text">
          マシンの詳細
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :detail, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /マシン名とマシン詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
  <footer class="items-sell-footer">  
  </footer>
</div>