<%= render "shared/header" %>

<%# マシンの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @machine.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @machine.image ,class:"item-box-img" %>
      <%# 商品が売れている場合は、sold outを表示しましょう %>
      <%# <div class='sold-out'> %>
        <%# <span>Use In!!</span> %>
      <%# </div> %>
      <%# //商品が売れている場合は、sold outを表示しましょう %>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == 1 %>
        <%= link_to '情報の編集', "#", method: :get, class: "item-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', "#", method: :delete, class:'item-destroy' %>
      <% end %>
      <%# <% if @machine.reservation.blank? %> 
        <%= link_to '予約画面に進む', "#" ,class:"item-red-btn"%>
      <%# <% end %> 
    <% end %>
    <%# //マシンが予約されていない場合はこちらを表示しましょう %>

    <div class="item-explain-box">
      <span><%= @machine.detail %></span>
    </div>
  <%# /マシンの概要 %>

</div>

<%= render "shared/footer" %>
